@charset "UTF-8";

/*共通部分*/
html {
    font-size: 100%;
}

.font-small{
    font-size: 0.75rem;
    color: lightgray;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

li{
    list-style-type: none;
}



    /*ヘッダー&ナビゲーションメニュー*/
    .header-flex{
        display: flex;
        justify-content: space-between; 
        background-color: gray;
        height: 8vh;
        align-items: center;
        font-size: 1.25rem;
        padding: 0 16px 0 16px;
    }

    .header-icon{
        width: 1.25rem;
        height: 1.25rem;
    }

    .icon{
        width: 1.25rem;
        height: 1.25rem;
    }

    .nav-flex{
        display: flex;
        gap: 8px
    }   

    /*タイピング画面*/


    /*アーティクル*/

    /*フッター*/
    footer{
        background-color: gray;
        padding: 8px 0 8px 0;
    }

    .footer-flex{
        display: flex;
        justify-content: center;
        gap: 6px;
    }

/*デスクトップ版*/
@media(min-width: 800px) {

}
