@charset "UTF-8";

/*共通部分*/
html {
    font-size: 100%;
}

.right{
    text-align: right;
}

li{
    list-style-type: none;
}



    /*ヘッダー&ナビゲーションメニュー*/
    .header-flex{
        display: flex;
        justify-content: space-between; 
        background-color: gray;
        height: 8vh;
        align-items: center;
        font-size: 1.25rem;
        padding: 0 16px 0 16px;
    }

    .header-icon{
        width: 1.25rem;
        height: 1.25rem;
    }

    .icon{
        width: 1.25rem;
        height: 1.25rem;
    }

    .nav-flex{
        display: flex;
        gap: 8px
    }   

/*デスクトップ版*/
@media(min-width: 800px) {

}
