@charset "UTF-8";

/*共通部分*/
:root{
    --gray: gray;
    --blue: #005070;
    --yellow: #e5cf6e;
    --light-gray: #dddddd;
}

html {
    font-size: 100%;
    background-color: var(--light-gray)
}

p{
    font-size: 1rem;
    line-height: 2;
}

a{
    text-decoration: none;
    color: black;
}

.font-small{
    font-size: 0.75rem;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

li{
    list-style-type: none;
}

.icon{
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 .25rem 0 .25rem;
}

/* ヘッダー&ナビゲーションメニュー */
.header-flex{
    display: flex;
    justify-content: space-between; 
    background-color: var(--gray);
    height: 8vh;
    align-items: center;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
}

.nav-flex{
    display: flex;
    gap: .5rem
}   

/*メインコンテンツ*/
.main-flex{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: .5rem 0 .5rem 0;
}

/* .main-contents{
    margin-left: 15vw;
} */

/*タイピング画面*/
    /*設定画面*/
    .typing-contents{
        width: 40rem;
        height: 29rem;
        background-color: var(--gray);
        border-radius: 8px;
        padding: 0.25rem 1rem 0.25rem 1rem;
        margin: 1rem 1rem 0.5rem 1rem;
        box-shadow: 0 0 .75rem rgba(0,0,0,0.5);
    }

    form{
        text-align: center;
        line-height: 1.75;
    }

    form h3{
        padding: 0.5rem 0 0.5rem 0;
    }

    .form-flex{
        display: flex;
        justify-content: center;
        gap: 2rem;
        background-color: var(--light-gray);
        border-radius: 4px;
        padding: 1rem 0 1rem 0;
        margin: 0 0 1rem 0;
    }

    #start-button{
        font-size: 1rem;
        background-color: var(--yellow);
        border-radius: 4px;
        padding: 0.5rem 2rem 0.5rem 2rem;
        cursor: pointer;
    }

    #start-button:hover{
        font-weight: bold;
    }
    
    /*ゲーム画面*/
    .game-area{
        background-color: black;
        color: white;
        border-radius: 4px;
        margin: .5rem auto .5rem;
        width: 35rem;
        border: solid;
        border-color: white;
        border-width: 1px
    }

    .question-area{
        height: 12rem;
        align-items: center;
    }

    .answer-area{
        height: 6rem;
    }
  
    .delay-screen{
        opacity: 0;
        /* transform-origin: top left; */
    }

    .completed{
        color: var(--light-gray);
        opacity: 0.5;
    }

    .current{
        color: var(--yellow);
        font-weight: bold;
    }

    #question-text{
        padding: 0.5rem 2rem 0.5rem 2rem;
    }

    #current-guide{
        text-align: center;
        color: white;
        padding: 0.5rem 2rem 0 2rem;
    }

    #user-input{
        text-align: center;
        color: darkgray;
        padding: 0 2rem 0.5rem 2rem;
    }

    /*キーボード*/
    #keyboard-container{
        display: grid;
        grid-template-columns:repeat(45, 1fr);
        gap: 2px;
        padding: 8px 16px 8px 16px;
        height: auto;
    }

    .key{
        color: white;
        background-color: black;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 4px;    
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    
    .key.normal{
        grid-column: span 3;
        height: 25px;
    }

    .key.middle{
        grid-column: span 4;
        height: 25px;
    }

    .key.wide{
        grid-column: span 5;
        height: 25px;
    }

    .key.shift{
        grid-column: span 6;
        height: 25px;
    }

    .key.enter-top{
        grid-column: 41 / 46;
        border-radius: 4px 4px 0 4px;
        position: relative;
        z-index: 1;
    }

    .key.enter-bottom{
        grid-column: 42 / 46;
        height: 28px;
        border-top: none;
        margin-top: -3px;
        border-radius: 0 0 4px 4px;
        position: relative; 
        z-index: 2;
        align-items: top;
    }    

    .key.enter-bottom span{
        transform: translateY(-12px);
    }

    /*ゲーム中の画面切り替え*/
    #start-screen{
        display: block;
    }

    #game-screen{
        display: none;
        flex-direction: column;
        justify-content: center; 
    }

    #results-screen{
        display: none;
    }
     

/*注意書き*/
.article-contents{
    width: 40rem;
    background-color: var(--gray);
    border-radius: 8px;
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin: 1.5rem 1rem 0.5rem 1rem;
    box-shadow: 0 0 .75rem rgba(0,0,0,0.5);
}

/*サイドコンテンツ*/
.aside-all-contents{
    width: 18rem;
    min-width: 0;
    flex-shrink: 1;
}

.aside-contents{
    background-color: var(--gray);
    border-radius: 8px;
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 .75rem rgba(0,0,0,0.5);
}

aside h3{
    gap: 0 0 1rem 0;
}

/*フッター*/
footer{
    background-color: gray;
    padding: 8px 0 8px 0;
    height: 16vh;
}

.footer-flex{
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: .5rem 0 0 0;
}

/*デスクトップ版*/
@media(min-width: 800px) {

}
